<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <meta name="description" content="粒子空间是一个倾诉内心的社区，在这里你可以分享自己的故事，或者自己的作品；在这里你可以找到自己的归属，和未来；在这里你可以记录生活的点滴，和精彩；在这里，有你，有他，也有我。" />
  <% if (context.title != null) { %>
    <title><%= context.title %></title>
  <% } %>

</head>

<body>
  <div id="root"></div>
</body>

</html>