body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.normal {
  font-family: Georgia, sans-serif;
  /* padding: 20px */
}

h1 {
  text-align: center;
}

article {
  padding: 4em 0;
}

.listContainer {
  padding: 4em;
}

.contact {
  padding: 0;
}
